*{
   margin:0;
   padding:0;
 }
 html {
  scroll-behavior: smooth;
}

/* Navbar Css */
.nav-bg{
  background-color:rgb(255,255,255, 0.2);
  position: fixed !important;
  top: 0 !important;
  width: 100%;
  z-index: 1;
}
.nav-title{
  color:white !important;
  margin-left: 3vh
}
.nav-ulb{
  padding-right:10vh;
  margin-left:auto; margin-right:0;
}
.nav-lib{
  
  padding-left:40px !important;
  color:white !important;
  }
/* Welcome Section Css */
.welcome-sect{
  position: relative;
  height: 100vh;
  background-image: linear-gradient(to right top, #690cb1, #b30090, #db0069, #ec0040, #eb4b12);
  color:white;
  
}
.say-hi {
  position: absolute;
  text-align:center;
  top: 45%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
}
.down-arrow{
  
  position: absolute;
  top: 90%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.5rem;
  color: #eb4b12
}
.arrow-icon{
  text-decoration: none;
  color: #eb4b12
}
/* Project section css */
.projects-con{
  height: 100vh;
  width: 100%;
  background-image: url("./assets/pinkDust.png");
  display: inline-block
}

/* Contact section css */
.contact-con{
  position: relative;
  height: 100vh;
  background-image: linear-gradient(to left bottom, #690cb1, #b30090, #db0069, #ec0040, #eb4b12);
  color:white;
  text-align:center;
  
}

.contact-div{
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  min-width: 260.5px;
}

.link-list{
  list-style: none;
  padding-top: 20px;
}

.link-list li{
  display: inline;
  padding-left: 40px;
}

.link-list li a {
  text-decoration: none;
  color: white
  
}

.link-icon{
  padding-right:10px;
}

.skillsCon {
  margin-top: 2vh;
  width: 100%;
  display:grid;
  grid-template-columns: repeat(7, auto);
  justify-content:  space-between ;
  padding: 0 10vh 0 10vh;

}
.skillsSty {
  font-size: 3vh;

  position: absolute;
top: 80%;
width: 100%
  }

@media only screen and (max-width: 768px) {
  .projects-con{
    height: 200vh;
    
  width: 100%;
  background-image: url("./assets/pinkDust.png");
  display: inline-block
  }

  .link-list li{
    display: block;
    padding-left: 40px;
  }

  .skillsCon {
    
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 156px 156px 156px;
    align-items: end;
  } 

  .skillsSty {
    
  top: 65%;
  
    }

    .say-hi {
      position: absolute;
      text-align:center;
      top: 25%;
      transform: translateY(-50%);
      left: 50%;
      transform: translateX(-50%);
    }
 
}

@media only screen and (max-width: 1170px) {
 

  .link-list li{
    display: block;
    padding-left: 40px;
  }

  .skillsCon {
    
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto auto;
  
  } 
 
}

  








